/* start main */
:root{
    --main-color:#ff3e01;
  }
  body {
    
    user-select: none;
  }
  html{
    scroll-behavior:smooth ;
  }
   
      
    
    /* finish main */
  
  /* start landing */
  .landing{
    position: relative;
    min-height: 60vh;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
  }
  
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: black;
  }
  .landing-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    color: white;
    width: 100%;
    
  }
  
  .landing-text h1{
    font-size: 3em;
    font-weight: bold;
    color: white;
  
  }
  
  .landing-text p{
    font-size: 14px;
    line-height: 1.6;
    word-spacing: 2px;
    width: 50%;
    margin: 30px auto ;
  }
  .btn1{
    width: fit-content;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 6px;
    background: transparent;
    padding: 8px 25px;
    margin: auto ;
    cursor: pointer;
    transition: .3s;
    
  }
  .btn1:hover{
    color: white;
    background-color: var(--main-color);
    border-color: var(--main-color);
  }
  
  
  
  @media (max-width:767px) {
  
    .landing-text p {
      width: 100%;
      
    }
    .landing-text h1{
      font-size: 27px;
      width: 100%;
    }
    
  }
  @media (max-width:991px) and (min-width:768px){
    .landing-text h1{
      font-size: 40px;
    }
  }
  /* finish landing */
  
  
    /* start navbar */
    .navbar{
      z-index: 100000;
      
    }
    .navbar.scroll,.navbar.top{
      background-color: black;
    }
    
    .nav-link{
      color: white !important;
      font-weight: 400 !important;
      transition: .3s;
    }
    .nav-link:hover,.nav-link.active{
      
      border-bottom: 1px solid var(--main-color);
    }
  
    .navbar-brand{
     width: 10% !important;
    }
    @media (max-width:990px) {
      .navbar-brand{
        width: 20% !important;
      }
      
    }
  
    .navbar .navbar-toggler {
      color: white;
      font-size: 25px;
      border-color: transparent;
    }
    .navbar .navbar-toggler:focus {
      box-shadow: none;
    }
  
    .navbar .navbar-toggler[aria-expanded="true"] {
      border-color: transparent;
    }
  
    /* finish navbar */

    
    /* start map */

    iframe{
        width: 100%;
        height: 500px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #888888;
    }
    



    /* finish map */

/* start contact */
.contac{
    display: flex;
    align-items: center;
    
}
.contac svg{
color: var(--main-color);
font-size: 1.7em;
}


  .contact-form .button1{
    font-size: 1.2em;
    background-color: var(--main-color);
    color: white;
    width: fit-content;
    cursor: pointer;
    padding: 8px 20px;
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    transition: .3s;
  }
  .contact-form .button1:hover{
    color: var(--main-color);
    background-color: transparent;
  }
  .contact-form input,textarea{
    display: block;
    width: 100%;
    margin: 10px 5px;
    padding: 10px 15px;
    border-color: transparent;
    outline: none;
    background-color:#e4e1e1;
    border-radius: 6px;
  }
  textarea{
    display: block;
    width: 100%;
  }

/* finish contact */

    /* start footer */

.social{
    color: var(--main-color);
    font-size: 1.3em;
  }
  .social svg{
    margin-right: 20px;
    cursor: pointer;
  }
  footer span{
    color: var(--main-color);
  }
  
  
  /* finish footer */
  
    